
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>
            ID
        </th>
        <th>
            Katagori Adı
        </th>
    </tr>
</table>
<button  class="btn btn-primary">Yeni Kategori</button>

