
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br/>
<h5>sdf</h5>
<table class="table table-bordered">
    <tr>
        <th>
            ID
        </th>
        <th>
            Katagori Adı
        </th>
    </tr>
</table>
<button  class="btn btn-primary">Yeni Kategori</button>

